*{
    margin: 0px;
    padding: 0px;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
/*amazon logo css*/
.nav-logo{
    height: 50px;
    width: 120px;
    margin: 0px 0px 0px 1px;
    padding: 1px 0px 1px 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.logo{
    height: 50px;
    width: 95%;
    background-image: url("amazon_logo.png");
    background-size: cover;
    margin:  1px;
    padding: 1px 8px 0px 6px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;

}
/*adreess css*/
.nav-add{
    width: 80px;
    height:50px;
    margin: 5px 2px 5px 0px;
    padding: 1px 9px 0px;
}
.add{
    width: 100%;
    height:50px;
    padding-top: 8px;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 18px;

}
.add-second{
    display: flex;
    align-items: center;
    margin-left: 3px;
}
.add-txt{
    margin-left: 3px;
    color: #ffffff;
    font-size:1rem;
}
/*search bar css*/

.nav-search{
    height:40px;
    width: 700px;
    display: flex;
    background-color: #0f1111;
    border: 2.5px solid transparent;
}
.nav-search:hover{
    
    border:2.5px solid #febd68;
    border-radius: 8px;
}
.search-select{
    border: none;
    width: 55px;
    text-align: center;
    padding: 0px 1px 0px 5px;
    background-color: #e6e6e6;
    justify-content: space-evenly;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.search-box{
    border: none;
    height: 40px; 
    width:100%;
    background-color: white;
}
.search-items{
    border: none;
    height: 20px; 
    width:100%;
    font-size: 1rem;
    padding: 10px 0px 10px 0px; 
}
.search-icon{
    height:40px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1rem;
}

/*language box css*/
.nav-lang{
    width:70px;
    height: 50px;
    margin: 0px 1px;
    padding: 0px 2px 1px 2px;
}
.lang{
    width: 65px;
    height: 50px;
    margin: 1px;
    padding: 4px 2px 1px 2px;
    color: #d6d6d6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flag{
    height: 14px;
    width:100%;
    background-image: url("indian_flag.png");
    background-size: cover; 
}
.select{
    background-color: #0f1111;
    color: white;
    border: none;
    font-size: 0.85rem;
    font-weight: 700;
}
.select option{
    border: none;
}
/* signin box css*/
.nav-signin{
    width: 135px;
    height: 50px;
    margin: 0px 5px;
    padding: 0px 1px 0px 1px;
}
.signin{
    width: 115px;
    height: 50px;
    padding: 3px 8px 3px 0px;
    margin: 0px 1px;  
    color:#ffffff; 
}
.signin-line1{
    font-size: 0.8rem;
    margin-left: 4px;
    line-height: 15px;
}

/* return and order css */

.nav-return{
    width: 65px;
    height: 40px;
    padding: 8px 2px 2px 2px;
    color: #d6d6d6;
}
.navreturn-line1{
    width: 59px;
    height: 14px;
    color:  #ffffff;
    margin: 6px 0px ;
    font-size: 12px;
    font-size: 0.8rem;
    margin-right: 4px;
}
.navreturn-line2{
    width: 60px;
    height: 15px;
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 15px;
}

/* cart box css */ 

.nav-cart{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-cart i{
    font-size: 1.5rem;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Pannel css */

.pannel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 60px;
    line-height: 1em;

}
.pannel-all{
    height:23px;
    width: 40px;
    padding: 7px 9px 4px 9px;
    font-weight: 700;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pannel-all i{
    font-size: 1.3rem;
   
}
.pannel-all p{
    margin-left: 5px;
}
.pannel-options p{
    height:23px;
    font-size: 0.85rem;
    display: inline;
    margin-left: 6px;
    padding: 7px 9px 4px 9px;
}

.pannel-options{
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
}
.pannel-deals{
    height:23px;
    font-size: 0.95rem;
    padding: 7px 9px 4px 9px;
    font-weight: 700;   
}
/*hero-section css*/

.hero-section{
    background-image: url("hero_image.png");
    height: 370px;
    background-size: cover;
    position: relative;
    top: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg {
    width:95%;
    height: 20px;
    padding: 10px 14px 10px 14px;
    border: none;
    background-color: #f5f6f6;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 80px;

}
.hero-msg a{
    text-decoration: none;
    color: #007185;
}

/* shopping section css*/
.shopping-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 390px;
    padding: 20px 0px 15px 0px;
    width: 23.5%;
    background-color: white;
    z-index: 2; 
   

}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-img{
    height: 310px;
    background-size:cover ;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.box-content a{
    text-decoration: none;
    color: #007185;
    font-size: 0.85rem;
}
.box-content h2{
    font-size: 1.25rem;
}
.box-below{
    width:100%;
    margin-top: 20px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box-line1-img{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}
.box-line1-img1{
    width: 48%;
    height: 100%;
    background-size: cover;
}
.box-line1-img2{
    width: 48%;
    height: 100%;
    margin-left: 13px;
    background-size: cover;
}
.box-line1-txt{
    width: 100%;
    height: 15px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.box-line1-txt1{
    width: 50;
    margin-right: 20px;
}
.box-line1-txt2{
    margin-left: 4.5rem;
}
.row-box-content{
    height: 280px;
    width: 95%;
    padding: 10px 20px 10px 20px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
}
.row-box-content h2{
    margin-top: 1rem;   
}
.row-box-img{
    height: 230px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.row-box9-img1{
    height: 96%;
    width:160px;
    background-size: cover;
}
.row-box9-img2{
    height: 90%;
    width:280px;
    background-size: cover;
}
.row-box9-img3{
    height: 87%;
    width:190px;
    background-size: cover;
}
.row-box9-img4{
    height: 90%;
    width:180px;
    background-size: cover;
}
.row-box9-img5{
    height: 85%;
    width:310px;
    background-size: cover;
    margin-left: 3px;
}
.row-box9-img6{
    height: 85%;
    width:85px;
    background-size: cover;
}
.row-box9-img7{
    height: 80%;
    width:250px;
    background-size: cover;
}
.row-box10-img1{
    height: 99%;
    width:200px;
    background-size: cover;
}
.row-box10-img2{
    height: 100%;
    width:75px;
    background-size: cover;
}
.row-box10-img3{
    height: 100%;
    width:280px;
    background-size: cover;
}
.row-box10-img4{
    height: 100%;
    width:170px;
    background-size: cover;
}
.row-box10-img5{
    height: 100%;
    width:215px;
    background-size: cover;
}
.row-box10-img6{
    height: 100%;
    width:240px;
    background-size: cover;
}
.row-box10-img7{
    height: 100%;
    width:200px;
    background-size: cover;
}
.book{
    height: 100%;
    width:150px;
    background-size: cover;
}
.video-game{
    height: 100%;
    width:150px;
    background-size: cover;   
}

/* sign-in section */

.signin-section{
    width:100%;
    background-color:  #e2e7e6;
    padding: 20px 0px 0px;
   
}
.signin2{
    width:100%;
    height: 180px;  
    margin-top: 5px; 
    background-color: white;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
.signin2-content{
    width: 100%;
    height: 140px ;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border: 1px solid rgb(235, 233, 233);
    padding: 0px 20px;
}
.signin2-content h2{
    padding-top: 20px;
    padding-bottom:10px ;
    font-size: 1.5rem;
}
.signin2-content button{
    font-size: 0.85rem;
    border: none;
    width: 240px;
    height: 34px;
    padding:0px,10px 0px 11px;
    border-radius: 20px;
    background-color:  #febd68;;
}
.signin2-content button a{
    text-decoration: none;
    color: black;
}
.signin2-content p{
    padding-top: 5px; 
    font-size: 0.75rem;  
}

/* footer section css */

.foot-pannel1{
    background-color:  #222f3d;
    color: white;
    height: 20px;
    display: block;
    text-align: center;
    padding: 15px 0px;
    line-height: 19px;
    font-size: 0.9rem;
}
.foot-pannel2{
    background-color: #1f2531;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 150px;
    
}
ul{
    margin-top: 40px;
}
ul a{
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #dddddd;
}
ul a:hover{
    text-decoration: underline;
}
.foot-pannel3{
    background-color:  #1f2531;
    height: 130px;
}
.pannel3-content{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 25px 0px 10px 0px;
    color: white;
    border-top: 0.5px solid rgb(84, 81, 81);
    
}
.logo2{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width:110px;
    margin-right: 100px;
}
.pannel3-content i{
    padding-right: 10px;
}
.pannel3-content button{
    background-color:  #1f2531;  
    border: 1px solid rgb(84, 81, 81);
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 2px;
    margin-right: 10px;
}
.pannel3-content select{
    background-color:  #1f2531;
    border: none;  
    color: white;  
}
.pannel3-content span{
    border: 1px solid rgb(84, 81, 81);
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 2px;
    margin-right: 10px;
}
.country{
    display: flex;
    align-items: center;
    justify-content:center;   
    border: 1px solid rgb(84, 81, 81);
    padding: 12px 20px;
}
.country-content{
    height: 18px;
    width: 26px;
    background-size: cover; 
    border-radius: 2px;
}
.pannel3-content p{
    font-size: 1.15rem;
    margin-left: 7px;
}
.foot-pannel4{
    height:80px;
    background-color: #0f1111;
    color: white;
}
.pages{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 25px;
}
.pages a{
    padding-left: 8px;
}
.copyright{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 7px;
}

